/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	width:100%;
	padding:10px;
	color:white;
	background-color:#011e29;
	text-align:center;	
}
img{
	width:100%;
}
.news{
	display: flex;
	 width:100%;
	 justify-content: even;
	gap: 10px;
	margin-top:10px;
}
.latest-news-section{
	width:35%;
	height:auto;
	text-align:center;
	background-color: white;
	height:150px;
	border-radius:20px;
}
.main-news{
	width:35%;
	text-align:center;
	background-color: white;
	height:200px;
	border-radius:20px;
}
.pictorial-news-section {
	width:30%;
	text-align:center;	
	background-color: white;
	 box-sizing: border-box;
	padding-bottom:15px;
	border-radius:20px;
}
.pictorial-news-section img{ 
  box-sizing: border-box; /* ensures padding is included in width */
  padding-inline: 10px;
}